h1 {
  color: red;
  font-size: 45px;
  font-style: 30 px;
}

.grey-header {
  color: grey;
}

#special-styles {
  color: aqua;
}

body {
  background-color: bisque;
  font-style: normal;
  color: black;
}
