header.css header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  background: var(--header-bg);
  color: var(--header-text-color);
}

/* Path: main.css */
