ul {
  background: var(--main-bg);
  color: var(--main-text);
}

h2 {
  padding: 20px;
  background: var(--main-title-bg);
  color: var(--main-text);
}

body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
  padding: 20px;
  height: 100vh;
  width: 100vw;
  font-family: system-ui;
  background: var(--body-bg);
}

/* Path: cards.css */
